<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <title>Result Manager</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/img/result.png" rel="icon">
  <link rel="manifest" href="/manifest.json">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
<header id="header" class="fixed-top">
	<div class="container">

		<div class="logo float-left">
			 <!--<h4 class="text-light"><a href="#header"><span>Result Manager</span></a></h4> -->
			 <a href="/" class="scrollto"><img src="/img/logo.png" alt="" class="img-fluid"></a>
		</div>

		<nav class="main-nav float-right d-none d-lg-block">
			<ul>
				<li><a class="<%= path === '/' ? 'btn btn-warning' : '' %>" href="/">Home</a></li>
				<li><a class="<%= path === '/about' ? 'btn btn-warning' : '' %> " href="/about">FAQS</a></li>
        <li><a class="<%= path === '/contact' ? 'btn btn-warning' : '' %>" href="/contact">Contact Us</a></li>
        <% if( path === '/student/checkresults' ) { %>
          <li><a class="<%= path === '/student/checkresults' ? 'btn btn-warning' : '' %>" href="/contact">Check Result</a></li>
        <% } %>
        <% if( isLogin ) { %>
				<li><a class="<%= path === '/university/dashboard' ? ' ' : '' %>" href="/university/dashboard">Dashboard</a></li>
				<li><a href="/university/logout" class="">Logout</a></li>
				<% } else { %>
				<li><a class="<%= path === '/university/signup' ? 'btn btn-warning' : '' %>" href="/university/signup">SignUp</a></li>
				<li><a class="<%= path === '/university/signin' ? 'btn btn-warning' : '' %>" href="/university/signin">SignIn</a></li>
        <% } %>
				<ul> 

				</ul>
		</nav><!-- .main-nav -->

	</div>
</header><!-- #header -->







  