<%- include('../includes/header.ejs') %>

<style type="text/css">
    .avatar {
        border-radius: 100%;
        max-width: 200px;
    }
    
</style>

<div class="container-fluid" style="margin-top: 90px;"> <!-- Container Starts Here-->
    <div class="panel panel-default text-center"> <!-- Panel starts here-->
        <div class="panel-body"> <!-- Panel Body Starts Here -->
            <div class="row"> <!-- Main Row Starts Here-->
                <div class="col-md-4">

                    <% if (successMsg) { %>
                    <div id="primary" class="alert alert-success"> 
                        <%= successMsg %>
                    </div>
                    <% } %>
                    <div>
                        <% if (hasErrors) { %>
                        <div class="alert alert-danger">
                            <ul>
                                <% for (let i=0; i<  messages.length; i++ )  { %>
                                <li><%= messages[i] %></li>
                                <% } %>
                            </ul>

                        </div>
                        <% } %>
                    </div>


                    <% if (user.image) { %>
                    <img src="<%= user.image %>" width="100px" class="avatar" alt="No internet access">
                    <% } else { %>
                    <img src="img/emptyimage.jpeg" width="100px" class="avatar" alt="Add Your picture">
                    <% } %>
                    <form method="post" action="/university/upload?_csrf=<%= csrfToken %>" novalidate
                        enctype="multipart/form-data">
                        <div class="form-group">

                            <input type="file" name="image" required>
                        </div>
                        <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>" re> -->
                        <input type="submit" value="Upload Image" class="btn btn-primary"><br><br>
                    </form>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6><%= user.name %></h6>
                        </li>
                        <% if (user.matnumber) { %>
                        <li class="list-group-item">
                            <h6><%= user.matnumber %></h6>
                        </li>
                        <% } %>
                        <li class="list-group-item">
                            <h6>CGPA<button class='btn btn-primary'>
                                    <% if (cgpa) { %>
                                    <%= cgpa %>
                                    <% } else { %>
                                    No Grade Point</button>
                                <% } %>
                        </li>
                        </h6>
                        </li>
                        <hr>
                    </ul>
                </div>

                <!-- Main Area Starts Here -->
                
                <div class="col-sm-8">
                    <div class="row">
                        <span><a class='btn btn-primary' href="/university/edit">Edit Profile Details</a> </span>
                        <hr>
                        <span><a class='btn btn-primary' href="/university/app">Calculate Result</a> </span>
                        <hr>
                    </div>
                    <hr>
                 </div>


                    <% if (results) { %>
                    <div class="row"> <!--Main Area Row Starts Here-->
                        <% for (let i=0; i<  results.length; i++ )  { %>
                        <div class="col-md-5 offset-md-1">
                            <h4 class="year-text"><%= results[i].level %></h4>
                            <div class="card">
                                <div class="card-block shadow p-5">

                                    <div>
                                        <h4><%= results[i].semester %></h4>
                                        <br>
                                        <h5>Your Grade Point:
                                            <span class="badge badge-primary"
                                                style="font-size: large;"><%= results[i].gp %></span>
                                        </h5>
                                    </div>


                                    <div>
                                        <h5>
                                            <span class="btn btn-primary" style="float:left;margin-left:10px">
                                                <a style="color:white;" href="/university/view/<%= results[i].id %>">View</a>
                                            </span>
                                            <span class="btn btn-danger" style="float:right;margin-right:10px">
                                                <a id="delete" style="color:white"
                                                    href="/university/delete/<%= results[i].id %>">Delete</a> </span>


                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <hr>

                        </div>


                        <% } %>

                    </div> <!--Main Area Row Ends Here-->

                    
                <% } else { %>
                <div class="jumbotron">
                    <h3>Welcome To Result Tracker
                        <a href="/university/app">Click Here </a>To Start Tracking Your Results
                    </h3>

                </div>
                <div class="row">
                    <span><a class='btn btn-primary' href="/university/edit">Edit Profile details</a> </span>
                    <hr>
                    <span><a class='btn btn-primary' href="/university/app">Calculate Result</a> </span>
                    <hr>
                </div>
                <hr>
                
                
                <% } %>
                <!-- Main Area Ends Here -->
                
            </div> <!-- Main Row Ends Here-->
        </div> <!-- Panel Body Ends Here-->
    </div> <!-- Panel Ends Here-->
</div> <!-- Main Container Ends Here-->


<%- include('../includes/footer.ejs') %>